body {
  font-family: Arial;
  background: #f4f6f8;
  text-align: center;
  margin-top: 50px;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background: #0000ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  background: #0056b3;
  transition: 0.2s;
}
